{{define "main"}}
<main class="main section-list-wrapper">
    <header class="col-12 section-list-header">
        <h1 class="main-heading">Propaganda</h1>
        <h2 class="kana-subheading">プロパガンダ</h2>
    </header>
    <div class="col-12 input-hex-container">
        <header>Filter:</header>
        <input class="checkbox threed-art" type="checkbox" name="color" id="color-1" checked />
        <label for="color-1">3D-Art - Blender</label>

        <input class="checkbox illustration" type="checkbox" name="color" id="color-2" checked />
        <label for="color-2">Illustration</label>

        <input class="checkbox character-design" type="checkbox" name="color" id="color-3" checked />
        <label for="color-3">Character Design</label>

    </div>
    <div class="col-12 hex-container">
        {{ range .Pages }}
        <a href="{{.Permalink}}" class="hex {{.Params.category}}">
            <div class="hook {{lower .Title}}">
                <div class="hook">
                    <img class="hex-image-background"
                        {{ with .Resources }}
                            {{ with .GetMatch "images/*.jpg" }}
                                {{ $thumbnail := .Fill "420x420 center webp q100" }}
                                {{ with $thumbnail }}
                                    src='{{ .Permalink }}'  
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    alt="{{ .Params.imagealt }}"/>
                    <!--<div class="caption">{{.Title}}</div>-->
                </div>
            </div>
        </a>
        {{end}}
    </div>
</main>
{{end}}