{{define "main"}}
<main class="main section-list-wrapper">
    <header class="col-12 section-list-header">
        <h1 class="main-heading">Characters</h1>
        <h2 class="kana-subheading">キャラクター</h2>
    </header>
    <div class="col-12 input-hex-container">
        <header>Filter:</header>
        <input class="checkbox nemesis-pro" type="checkbox" name="color" id="color-1" checked />
        <label for="color-1">Protagonists</label>

        <input class="checkbox nemesis-anti" type="checkbox" name="color" id="color-2" checked />
        <label for="color-2">Antagonists</label>

    </div>
    <div class="col-12 hex-container">
        {{ range .Pages }}
        <a href="{{.Permalink}}" class="hex {{.Params.story}}">
            <div class="hook {{lower .Title}}">
                <div class="hook">
                    <div class="caption">{{.Title}}</div>
                </div>
            </div>
        </a>
        {{end}}
    </div>
</main>
{{end}}