{{define "main"}}
<main class="main char-container">
    <header class="char-headline-container">
        <div class="char-headline-bg {{$.Param "char-class"}}"></div>
        <div class="char-subheadline sub-{{$.Param "char-class"}}"></div>
        <div class="noisy-texture"></div>
        <div class='char-headline'>
            <h3>{{.Title}}</h3>
            <h4>{{$.Param "subtitle"}}</h4>
        </div>
    </header>

    <figure class="char-bg {{$.Param "title"}}"></figure>

    <div class="col-12 char-main">
        <div class="col-3 char-side">
            <section class="char-sidebar">
                <div class="char-sidebar-flag"></div>
                <div class="char-sidebar-gradient mini-{{$.Param "char-class"}}"></div>
                <div class="noisy-texture"></div>
                <div class="char-sidebar-container">
                    <h5>Affilation</h5>
                    <div class="char-sidebar-content">{{$.Param "affilation"}}</div>
                </div>
            </section>
            <section class="char-sidebar">
                <div class="char-sidebar-flag"></div>
                <div class="char-sidebar-gradient mini-{{$.Param "char-class"}}"></div>
                <div class="noisy-texture"></div>
                <div class="char-sidebar-container">
                    <h5>Path</h5>
                    <div class="char-sidebar-content">{{$.Param "path"}}</div>
                </div>
            </section>
        </div>
        <div class="col-9 char-main-content">
            <article>{{.Content}}</article>
        </div>
    </div>
</main>
<!--<figure class="char-bg-gradient"></figure>-->
<footer class="footer-char-navigation">
    <div class="footer-char-navigation-buttons">
        {{ if .PrevInSection }}
        <h6><a href="{{.PrevInSection.Permalink}}">Prev</a></h6>
        {{else}}
        <div>&nbsp;</div>
        {{ end }}

        {{ if .NextInSection }}
        <h6><a href="{{.NextInSection.Permalink}}">Next</a></h6>
        {{else}}
        <div>&nbsp;</div>
        {{ end }}
    </div>

    <div class="footer-char-navigation-space"></div>
    <div class="footer-char-navigation-fix"></div>
</footer>
{{end}}