{{define "main"}}
<main class="main char-container">
    <header class="char-headline-container">
        <div class="char-headline-bg {{$.Param "char-class"}}"></div>
        <div class="char-subheadline sub-{{$.Param "char-class"}}"></div>
        <div class="noisy-texture"></div>
        <div class='char-headline'>
            <h1 class="char-heading">{{.Title}}</h1>
            <h2 class="char-kana-subheading">{{$.Param "subtitle"}}</h2>
        </div>
    </header>
    {{ with .Resources.Match "images/profile-background.png" }}
        {{ range . }}
            <figure class="char-bg animate__animated animate__fadeIn animate__delay-1s">
                <img src="{{ .RelPermalink }}">
            </figure>
        {{ end }}
    {{ end }}
    

    <div class="col-12 char-main">
        <div class="col-12 char-background"></div>
        <div class="col-3 char-side">
            <section class="char-sidebar">
                <div class="char-sidebar-flag"></div>
                <div class="char-sidebar-gradient mini-{{$.Param "char-class"}}"></div>
                <div class="noisy-texture"></div>
                <div class="char-sidebar-container">
                    <h3 class="char-sidebar-heading">First appearance</h3>
                    <div class="char-sidebar-content">{{$.Param "first-appearance"}}</div>
                </div>
            </section>
            <section class="char-sidebar path">
                <div class="char-sidebar-flag {{lower .Title}}">
                    {{ with .Resources.Match "images/seal-char.png" }}
                        {{ range . }}
                            <img src="{{ .RelPermalink }}">
                        {{ end }}
                    {{ end }}
                </div>
                <div class="char-sidebar-gradient mini-{{$.Param "char-class"}}"></div>
                <div class="noisy-texture"></div>
                <div class="char-sidebar-container">
                    <h3 class="char-sidebar-heading">Path</h3>
                    <div class="char-sidebar-content">{{$.Param "path"}}</div>
                </div>
            </section>
        </div>
        <div class="col-9 char-main-content">
            <article>{{.Content}}</article>
        </div>
    </div>
</main>
<!--<figure class="char-bg-gradient"></figure>-->
<footer class="footer-char-navigation">
    <div class="footer-char-navigation-buttons">
        {{ if .PrevInSection }}
        <div class="char-next-prev" id="prev"><a href="{{.PrevInSection.Permalink}}">Prev</a></div>
        {{else}}
        <div>&nbsp;</div>
        {{ end }}

        {{ if .NextInSection }}
        <div class="char-next-prev" id="next"><a href="{{.NextInSection.Permalink}}">Next</a></div>
        {{else}}
        <div>&nbsp;</div>
        {{ end }}
    </div>

    <div class="footer-char-navigation-space"></div>
    <div class="footer-char-navigation-fix"></div>
</footer>
{{end}}