.about-image {
    background-color: $color-violet;
}

/*.about-me {
    //margin-top: 96px;
}*/

.about-content {
    padding:0 48px 48px 48px;
}

.about-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    

    .about-flex-child {
        width: 192px;
        max-height: 96px;
        margin: 24px 12px;
        background-color: $color-blue-light;

        text-align: center;
    }
}

.about-content-article {
    p { 
        padding-left: 48px;
    }
}

.about-section-header {
    margin: 0px 0 24px 0;
}


@media screen and (min-width: 1200px) {
    .about-content {
        max-width: 1200px;
        padding:0 48px 48px 192px;
    }
}