
.char-container {
    position: relative;
    background-image: none;

    /*~ footer {
        background-image: none;
    }*/

    .noisy-texture {
        position: absolute;
        bottom: 0;

        width: 100%;

        background: url("/img/noisy-texture2.png") repeat;
        -webkit-mask-image:-webkit-gradient(linear, left top, right bottom, from(rgba($color-red-dark,1)), to(rgba($color-red-dark,0)));
        mask-image: linear-gradient(to right, rgba($color-red-dark,1), rgba($color-red-dark,0.05));
    }

    .char-headline-container {
        position: relative;

        width: 100%;
        height: 54vh;
        max-height: 900px;

        //margin-top: 120px;

        .char-headline {
            position: absolute;
            bottom: 10px;
    
            width: 100%;
            z-index: 10;

            padding-left: 24px;

            transform: rotate(-12deg);
    
            .char-heading {
                padding-bottom: 12px;
            }
        }
    
        .char-headline-bg {
            position: absolute;
            bottom: 0;

            height: 132px;
            width: calc(100% - 48px);

            transform: skewY(-12deg);
        }
    
        .char-subheadline {
            position: absolute;
            bottom: 0;

            height: 40px;
            width: calc(100% - 48px);

            transform: skewY(-12deg);
        }
    
        .noisy-texture {
            height: 132px;
            transform: skewY(-12deg);
        }
    }
    .char-background {
        position: absolute;
        //background: linear-gradient(to bottom, rgba($color-blue-darkest, 0) 0%, rgba($color-blue-darkest, 0.55) 10%, rgba($color-blue-darkest, 0.55) 100%);
        //background: rgba($color-blue-darkest, 0.55);
        mix-blend-mode: darken;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
    .char-main {
        display:flex;
        flex-wrap: wrap;
        position: relative;

        margin-top: 288px;
        //background: rgba($color-blue-darkest, 0.55);
        //mix-blend-mode: darken;
        
        .noisy-texture {
            height: 96px;
            width: 90%;
        }

        .char-side{
            margin-right: 48px;
            margin-top: 48px;
            //background-color: $color-red-dark;

            z-index: 5;

            h5 {
                padding-top: 4px;
            }
        }

        .char-sidebar {
            position: relative;

            color: $color-text-lightest;
            text-transform: uppercase;


            &:nth-child(2) {
                margin-top: 96px;
            }

            .path {
                .char-sidebar-flag {
                    background-position: 50% 10%;
                    background-size: 180%;
                    /*&.athena {
                        background-image: url("{{ (.Resources.GetMatch 'seal-char.png').Content}}");
                        background-position: 50% 10%;
                        background-size: 180%;
                    }*/
                }
            }
        }

        .char-sidebar-flag {
            position: absolute;
            top: 0;
            right: 0;

            width: 336px;
            height: 224px;

            background-color: $color-violet-darker;
        }

        .char-sidebar-gradient {
            position: absolute;
            bottom: 0;

            width: 90%;
            height: 96px;
        }

        .char-sidebar-container {
            position: relative;
            padding: 160px 0 18px 24px;
        }

        .char-sidebar-content {
            font-size: $font-size-second-headline;
            font-family: $font-family-special; 
        }

        .char-main-content {
            margin:48px 24px 0 24px;

            z-index: 5;

            h6 {
                margin: 72px 0 24px 0;
            }
        }
    }

    /* Individual colours and gradients */

    .font-char-red {
        color: $color-red-light;
    }

    .font-char-gold {
        color: $color-gold-light;
    }

    .font-char-cyan {
        color: $color-blue-lighter;
    }

    .sub-char-red {
        background: $color-blue-darkest; /* Old browsers */
        background: linear-gradient(to left, rgba($color-blue-darkest, 1) 0%, rgba($color-red-grad-inter, 1) 25%, scale-color(rgba($color-red-light, 1), $lightness: -40%, $saturation: -15%, $hue: -2%) 100%);
       //background: linear-gradient(to left, rgba($color-blue-darkest, 1) 0%, rgba($color-red-grad-inter, 1) 25%, rgba(#832A3B, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    .char-red {
        background: $color-blue-darkest; /* Old browsers */
        background: linear-gradient(to left, rgba($color-blue-darkest, 1) 0%, rgba($color-red-grad-inter, 1) 25%, rgba($color-red-light, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    .mini-char-red {
        background: $color-blue-darkest; /* Old browsers */
        background: linear-gradient(to left, rgba($color-blue-darkest, 0) 0%, rgba($color-red-light, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    .sub-char-gold {
        background: $color-blue-darkest; /* Old browsers */
        background: linear-gradient(to left, rgba($color-blue-darkest, 1) 0%, rgba($color-gold-grad-inter, 1) 25%, scale-color(rgba($color-gold-light, 1), $lightness: -40%, $saturation: -15%, $hue: -2%) 100%);
        //background: linear-gradient(to left, rgba($color-blue-darkest, 1) 0%, rgba($color-gold-grad-inter, 1) 25%, rgba(#A48055, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    .char-gold {
        background: $color-blue-darkest; /* Old browsers */
        background: linear-gradient(to left, rgba($color-blue-darkest, 1) 0%, rgba($color-gold-grad-inter, 1) 25%, rgba($color-gold-light, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    }
    .mini-char-gold {
        background: $color-blue-darkest; /* Old browsers */
        background: linear-gradient(to left, rgba($color-blue-darkest, 0) 0%, rgba($color-gold-light, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    }

    .sub-char-cyan {
        background: $color-blue-darkest; /* Old browsers */
        background: linear-gradient(to left, rgba($color-blue-darkest, 1) 0%, rgba($color-blue-grad-inter, 1) 25%, scale-color(rgba($color-blue-lighter, 1), $lightness: -40%, $saturation: -15%, $hue: -2%) 100%);
        //background: linear-gradient(to left, rgba($color-blue-darkest, 1) 0%, rgba($color-blue-grad-inter, 1) 25%, rgba($color-blue-light, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    .char-cyan {
        background: $color-blue-darkest; /* Old browsers */
        background: linear-gradient(to left, rgba($color-blue-darkest, 1) 0%, rgba($color-blue-grad-inter, 1) 25%, rgba($color-blue-lighter, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    .mini-char-cyan {
        background: $color-blue-darkest; /* Old browsers */
        background: linear-gradient(to left, rgba($color-blue-darkest, 0) 0%, rgba($color-blue-lighter, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
}


.char-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    margin-top: 48px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 0;
    //background-image: url("/img/placeholder-website-charsprite.png");

    /* Individual background images 
    &.athena {
        
    }*/

    img {
        position: absolute;
        right: 0;
    }

}

.char-bg-gradient {
    position: absolute;
    bottom: 300px;
    left: 0;
    right: 0;

    height: 1000px;
    width: 100%;
    background-repeat: repeat;
    background-image: url("/img/noisy-texture2.png"), url("/img/bg-gradient.png");
}

.footer-char-navigation {
    position: relative;

    
    min-height: auto;
    height: 288px;
    
    margin: 10vw 0 80px 0;

    background: none;

    .footer-char-navigation-buttons {
        display: flex;
        justify-content: space-between;

        font-weight: 500;
        color: $color-text-lightest;

        transform: rotate(-12deg);
    }

    .footer-char-navigation-space {
        position: absolute;
        top: 90px;
        z-index: -1;

        width: 100%;
        height: 288px;

        background: $color-blue-darker;

        transform: skewY(-12deg);
    }
    .footer-char-navigation-fix {
        position: absolute;
        top: 232px;
        right: 0;
        z-index: -100;

        width: 48%;
        height: 288px;
        
        background: $color-blue-darker;
        //opacity: 0.5;

        transform: skewY(-12deg);
    }

}

@media screen and (min-width: 479px) {
    .char-container {
        .char-main {
            .char-sidebar-container {
                padding: 160px 0 18px 120px;
            }
        }
    }
}

@media screen and (min-width: 1023px) {
    .char-bg {
        top: 0;
        background-size: cover;
        background-position: 75% 0;
        
    }

    .char-container {
        .char-headline-container {
            width: 100%;
            min-width: 720px;
            height: 36vh;
    
            margin-top: 288px;
    
            .char-headline {
                padding-left: 48px;
        
                h3 {
                    padding-bottom: 6px;
                }
            }
        
            .char-headline-bg {
                position: absolute;
                bottom: 0;
    
                height: 216px;
                width: 100%;
            }
        
            .char-subheadline {
                position: absolute;
                bottom: 0;
    
                height: 40px;
                width: 100%;
            }

            .noisy-texture {
                height: 216px;
            }
        }

        .char-main {
            flex-wrap: nowrap;
            padding-bottom: 288px;

            .char-side{
                min-width: 480px;
                width: 480px;
                
                margin-top: 192px;
                margin-right: 0;
            }

            .char-main-content {
                margin:192px 48px 0 48px;

                h6 {
                    margin: 0 0 72px 0;
                }

                p {
                    padding-left: 48px;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .char-bg {
        margin-top: 168px;
    }
    
    .char-container {
        .char-main {
            .char-main-content {
                max-width: 960px;
                margin:192px 48px 0 192px;

            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .char-container {
        .char-headline-container {
            height: 43vh;
        }
    }
}