.hex-container {

    /***** CHARACTERS *****/

    .athena {
    background-image: url("/img/thumbnails/harbinger/harbinger-seal-600px.jpg")
    }


    /***** PROPAGANDA *****/


    .spaceship {
        background-image: url("/img/thumbnails/spaceship/1-spaceship-main.jpg");
    }

    .marble {
        background-image: url("/img/thumbnails/marble/marble-catseye-600px.jpg");
    }

    .harbinger {
        background-image: url("/img/thumbnails/harbinger/harbinger-seal-600px.jpg");
    }

    .hex {
        > .hook {
            background-size: cover;
            background-position: center;
        }
    }
}