/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    .thumbnail-modal {
        display: flex;
        justify-content: center;
        align-items: center;

        .thumbnail-demo {
            max-width: 288px;
            opacity: 0.6;
              
            &:hover {
                opacity: 1;
            }
        }
    }
   

    img {
        .hover-shadow {
            transition: 0.3s;
        }
          
        .hover-shadow:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }

    .active {
        opacity: 1;
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        margin: auto;
        padding: 0;
        max-width: 70vw;
    }
    
    /* The Close Button */
    .close {
        color: $color-violet-light;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: $font-size-bigger;
        font-weight: bold;
        
        &:hover, &:focus {
            color: $color-violet;
            text-decoration: none;
            cursor: pointer;
        }
    }
    
    
    /* Hide the slides by default */
    .mySlides {
        display: none;
    }
    
    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: $color-violet-light;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;

        &:hover {
            background-color: rgba(0, 0, 0, 0.8)
        }
    }
    
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
}