body {
	font-size: 18px;
	font-family: 'Noto Sans JP', sans-serif;
	color: $color-blue-darkest;
    background: $color-blue-darkest;
    
}

/* Box Sizing */
:root {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}

/* Center */
html, body {
	height: 100%;
}

html {
	display: table;
	width: 100%;
}

body {
}