body {
	font-size: $font-size-standard;
	font-family: 'Noto Sans JP', sans-serif;
	color: $color-text-light;
    background: $color-blue-darkest;
    
}

/* Box Sizing */
:root {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}

//=== Main Navigation Container =====
.main-navigation {
	display: flex;
	justify-content: center;

	text-transform: uppercase;
	font-size: $font-size-bigger;
	font-family: 'Oswald', 'Noto Sans JP', sans-serif;

	// === Main Navigation Lists =====
	ul {
		display: flex;

		width: 432px;
		margin-top: 72px;
	}

	.navigation-left-ul {
		justify-content: flex-end;
		margin-right: 24px;
	}

	.navigation-right-ul {
		justify-content: flex-start;
		margin-left: 24px;
	}
	
	//=== Main Navigation List Items =====
	.navigation-list-item {
		margin: 0 24px auto 0;
		cursor: pointer;

		&:nth-child(3) {
			margin-right: 0;
		}
	}
}