body {
	font-size: $font-size-standard;
	font-family: $font-family-standard;
	color: $color-text-light;
	background: $color-blue-darkest;

	overflow-x: hidden;
}

/* Box Sizing */
:root {
	box-sizing: border-box;
	--animate-delay: 0.5s;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

/* CSS-animate */
/*
.animate__animated.animate__fadeIn {
	//--animate-duration: 200ms;
	--animate-delay: 4.9s;
}*/


/* For mobile phones: */
[class*="col-"] {
	width: 100%;
}

[class*="col-"] {
	float: left;
}

.body-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: relative;

	min-height: 100vh;
	max-width: 2560px;
	margin: 0 auto;
	
	.container-background {
		position: absolute;
        height: 100%;
        width: 100%;
        z-index: 0;
		background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0,0,0,0.2) 4px), linear-gradient(transparent, transparent 3px, rgba(0,0,0,0.2) 4px);
		background-size: 4px 4px;
	}
}

a {
	text-decoration: inherit;
	color: inherit;
}

/**** HEADINGS ****/

/**** Categories ****/

.main-heading {
	font-size: $font-size-headline;
	font-family: $font-family-special;
	text-transform: uppercase;
	line-height: calc(1.25 * #{$font-size-headline});

	color: $color-text-lightest;
}

.kana-subheading {
	font-size: $font-size-standard;
	font-family: $font-family-kana;

	color: $color-text-lightest;
}

/**** Section Heading ****/

.section-heading {
	font-size: $font-size-bigger;
	font-family: $font-family-special;
	font-style: italic;
	text-transform: uppercase;
	line-height: calc(1.25 * #{$font-size-bigger});

	color: $color-text-lightest;
}

/**** Special Headlines ****/
/**** Character Name ****/
.char-heading {
	font-size: calc(0.5 * #{$font-size-biggest});
	font-family: $font-family-special;
	font-weight: 500;
	font-style: italic;
	text-transform: uppercase;

	color: $color-text-lightest;
}

/**** Character Kana ****/

.char-kana-subheading {
	font-size: $font-size-big;
	font-family: $font-family-standard;

	color: $color-text-lightest;
}

/**** Sidebar ****/

.char-sidebar-heading {
	font: $font-size-standard $font-family-special;
	text-transform: uppercase;
	color: $color-text-lightest;
	line-height: $font-size-big;
}

/**** Character Single Article Headline ****/

.char-article-heading, .char-next-prev {
	font: italic $font-size-second-headline $font-family-special;
	text-transform: uppercase;
	line-height: $font-size-second-headline;
}

p {
	line-height: $font-size-bigger;
	margin-bottom: 24px;
}

img {
	max-width: 100%;
}

#next {
	padding-right: 24px;
}

#prev {
	padding-left: 4px;
}

.main {
	display: flex;
	flex-direction: column;

	z-index: 1;

	padding-top: 72px;
}

//=== Main Navigation Container =====
.main-navigation {
	display: none;
}

.main-navigation-mobile {
	#menuToggle {
		display: block;
		position: fixed;
		top: 34px;
		right: 28px;

		z-index: 5;

		-webkit-user-select: none;
		user-select: none;

		a {
			text-decoration: none;
			color: $color-text-light;

			transition: color 0.3s ease;

			&:hover {
				color: $color-violet-lighter;
			}
		}

		input {
			display: block;
			width: 40px;
			height: 32px;
			position: absolute;
			top: -7px;
			left: -7px;

			cursor: pointer;

			opacity: 0; /* hide this */
			z-index: 2; /* and place it over the hamburger */

			-webkit-touch-callout: none;
		}

		/*
		* Just a quick hamburger
		*/
		span {
			display: block;
			width: 33px;
			height: 4px;
			margin-bottom: 5px;
			position: relative;

			background: $color-violet-lighter;
			border-radius: 3px;

			z-index: 1;

			transform-origin: 4px 0px;
			transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
				background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

			&:first-child {
				transform-origin: 0% 0%;
			}

			&:nth-last-child(2) {
				transform-origin: 0% 100%;
			}
		}

		/* 
		* Transform all the slices of hamburger
		* into a crossmark.
		*/
		input:checked ~ span {
			opacity: 1;
			transform: rotate(45deg) translate(-2px, -1px);
			background: $color-text-lightest;
		}

		/*
		* But let's hide the middle one.
		*/
		input:checked ~ span:nth-last-child(3) {
			opacity: 0;
			transform: rotate(0deg) scale(0.2, 0.2);
		}

		/*
		* Ohyeah and the last one should go the other direction
		*/
		input:checked ~ span:nth-last-child(2) {
			opacity: 1;
			transform: rotate(-45deg) translate(0, -1px);
		}

		input:checked ~ .navigation-mobile-wrapper  {
			clip-path: circle(75%);
		}

		.navigation-mobile-wrapper {
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			/*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
			/* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
		   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
			/* clip-path: circle(25px at calc(0% + 45px) 45px); */
			background: rgba($color-blue-darkest, 0.9);
			clip-path: circle(25px at calc(100% - 45px) 45px);
			transition: all 0.3s ease-in-out;

			.navigation-ul-mobile{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				list-style: none;
				text-align: center;
				
				li{
					margin: 15px 0;
					font-size: $font-size-big;
					color: $color-text-lightest;
					text-transform: uppercase;
					
					a{
						color: none;
						text-decoration: none;
						position: relative;
						transition: all 0.3s ease;

						&:hover{
							color: #fff;
							&:after{
								transform: scaleY(1);
							}
						}
					}
				}
			}
		}

		/*
		* Make this absolute positioned
		* at the top left of the screen
		*/
		/*.navigation-ul-mobile {
			position: fixed;
			width: calc(100vw + 85px);
			height: calc(100vh + 25px);
			margin: -96px 0 0 0;
			padding: 24px 144px 48px 48px;
			right: -100px;

			text-align: center;

			background: rgba($color-blue-darkest, 0.9);
			list-style-type: none;
			-webkit-font-smoothing: antialiased;
			/* to stop flickering of text in safari */
			/*

			transform-origin: 0% 0%;
			transform: translate(100%, 0);

			transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
			.navigation-list-item {
				padding: 0 0 16px 0;

				font-size: $font-size-big;
				text-transform: uppercase;
			}
		}*/

		/*
		* And let's slide it in from the left
		
		input:checked ~ ul {
			transform: none;
			opacity: 1;
		}*/
	}
}

.imprint {
	margin: 0 auto;
}

footer {
	min-height: 288px;
	background: $color-blue-darker;
	.footer-navigation {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		position: relative;
		z-index: 1;

		padding-top: 144px;

		text-transform: uppercase;
		font-size: $font-size-big;
		font-family: $font-family-special;

		.footer-navigation-item {
			margin: 0 24px auto 0;
			cursor: pointer;

			&:nth-child(3) {
				margin-right: 0;
			}
		}
	}

	.footer-copyright {
		position: relative;
		z-index: 1;

		padding-top: 24px;
		margin-bottom: 0;

		font-size: $font-size-small;
		text-align: center;
	}
}


@media screen and (min-width: 1023px) {
	/* Columns erstellen */
	/* For desktop: */
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}

	.char-heading {
		font-size: $font-size-biggest;
	}
}

@media screen and (min-width: 1200px) {
	.main-navigation-mobile {
		display: none;
	}

	.main-navigation {
		display: flex;
		justify-content: center;

		position: absolute;
		left: 0;
		right: 0;
		z-index: 5;

		min-height: 288px;

		text-transform: uppercase;
		font-size: $font-size-big;
		font-family: $font-family-special;
		color: $color-text-lightest;

		a {
			height: max-content;
		}


		// === Main Navigation Lists =====
		ul {
			display: flex;

			width: 432px;
			margin-top: 48px;
		}

		.navigation-left-ul {
			justify-content: flex-end;
			margin-right: 36px;
		}

		.navigation-right-ul {
			justify-content: flex-start;
			margin-left: 36px;
		}

		//=== Main Navigation List Items =====
		.navigation-list-item {
			margin: 0 0 auto 0;
			padding: 9px 12px 10px 12px;
			cursor: pointer;

			&:nth-child(3) {
				margin-right: 0;
			}

			&:hover {
				color: #fff;
				border-top-right-radius: 5px;
				border-top-left-radius: 5px;
				background: $color-violet-light;
				//background: linear-gradient(to bottom, rgba($color-blue-darkest, 1) 0%, rgba($color-violet-light, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			}
		}

		//=== Main Navigation Background ===
		.navigation-bg {
			position: absolute;
			top: -16px;
			z-index: -1;

			width: 100%;
			height: 100%;

			background-image: url("/img/logo-main-nav-bg.png");
			background-repeat: no-repeat;
			background-position: 50% 6px;
		}
	}
}
