// Easing for hex.scss



$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);

$color-text-lightest: #ffffff;
$color-text-light: rgb(196, 207, 226);

$color-menu-lightest: #ddb4ff;
$color-menu-light: #9d75e2;
$color-menu-dark: #5c40b8;

$color-violet-darker: #211e32;
$color-violet-dark: #2b1853;
$color-violet: #480e81;
$color-violet-light: #8638ac;
$color-violet-lighter: #c670d6;
$color-violet-lightest: #ff99ff;

$color-blue-darkest: #1d1e22;
//$color-blue-darkest: #131418;
//$color-blue-darker: #1d202b;
$color-blue-darker: #282b38;
$color-blue-dark: #182b53;
$color-blue: #0e4781;
$color-blue-light: #3885ac;
$color-blue-lighter: #70c5d6;
$color-blue-lightest: #99feff;

$color-red-dark: #53183b;
$color-red: #810e40;
//$color-red-light: #AC384F;
$color-red-light: #d34a6d;

$color-gold-light: #d6a770;

$grid-unit: 96px;

$color-red-grad-inter: #47162d;
$color-gold-grad-inter: #60401f;
$color-blue-grad-inter: #183047;

$font-size-small: 14px;
$font-size-standard: 18px;
$font-size-big: 24px;
$font-size-bigger: 36px;
$font-size-headline: 48px;
$font-size-second-headline: 66px;
$font-size-biggest: 180px;
$font-family-special: "Oswald", "Noto Sans", "Noto Sans JP", sans-serif;
$font-family-ork-special: "Barlow", "Oswald", "Raleway", sans-serif;
$font-family-ork-standard: "Raleway", sans-serif;
$font-family-ork-headline: "Anton", "Oswald", "Barlow", "Raleway", sans-serif;
$font-size-ork-big: 28px;

$font-family-standard: "Noto Sans", "Noto Sans JP", sans-serif;
$font-family-kana: "Noto Serif JP", "游明朝", "Yu Mincho", "Yu Gothic UI", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka,  "游ゴシック", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "Noto Serif", sans-serif;;

$nav-split-position: 49%;
$nav-split-thickness: 1px;



// ORK COLORS

$ork-green: #09B04D;