// Easing for hex.scss
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);

$color-text-lightest: #FFFFFF;
$color-text-light: #9DAEED;

$color-blue-darkest: #09090C;
$color-blue-darker: #1D202B;
$color-blue-dark: #182B53;
$color-blue: #0E4781;
$color-blue-light: #3885AC;
$color-blue-lighter: #70C5D6;
$color-blue-lightest: #99FEFF;

$color-red-dark: #53183B;
$color-red-light: #AC384F;

$color-gold-lighter: #D6A770;



$color-red-grad-inter: #261218;


$font-size-standard: 18px;
$font-size-big: 24px;
$font-size-bigger: 30px;
$font-size-biggest: 180px;
$font-family-special: 'Oswald', 'Noto Sans JP', sans-serif;
$font-family-standard: 'Noto Sans JP', sans-serif;

$nav-split-position:  49%;
$nav-split-thickness: 1px;