/* funnelsans-regular - latin */
@font-face {
    font-family: 'FunnelSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('/fonts/FunnelSans-Regular.ttf');
}

/* funnelsans-italic - latin */
@font-face {
    font-family: 'FunnelSans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('/fonts/FunnelSans-Italic.ttf');
}

/* funnelsans-bold - latin */
@font-face {
    font-family: 'FunnelSans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''),
         url('/fonts/FunnelSans-Bold.ttf');
}

/* oswald-regular - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('/fonts/Oswald-Regular.ttf');
}

/* oswald-500 - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local(''),
         url('/fonts/Oswald-Medium.ttf');
}

/* oswald-700 - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''),
         url('/fonts/Oswald-Bold.ttf');
}