<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ .Title }}</title>
		{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
		{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
		<link rel="preconnect" href="https://fonts.bunny.net" crossorigin="anonymous" />
		
		<link rel="preload"
			as ="style"
			href="https://fonts.bunny.net/css?family=noto-sans:400,500,700|noto-serif:400,700|oswald:400,500,700&display=swap" /> 
		
		<link rel="stylesheet"
			href="https://fonts.bunny.net/css?family=noto-sans:400,500,700|noto-serif:400,700|oswald:400,500,700&display=swap" 
			media="print" onload="this.media='all'" /> 
		<noscript>
			<link rel="stylesheet" href="https://fonts.bunny.net/css?family=noto-sans:400,500,700|noto-serif:400,700|oswald:400,500,700&display=swap" />
		</noscript>
		{{if eq .Section "saladdork"}}
			<link rel="preload"
			as ="style"
			href="https://fonts.bunny.net/css?family=anton:400|family=barlow:400,700|raleway:200,400,700&display=swap" /> 

			<link rel="stylesheet"
				href="https://fonts.bunny.net/css?family=anton:400|family=barlow:400,700|raleway:200,400,700&display=swap" 
				media="print" onload="this.media='all'" /> 
			<noscript>
				<link rel="stylesheet" href="https://fonts.bunny.net/css?family=anton:400|family=barlow:400,700|raleway:200,400,700&display=swap" />
			</noscript>
		{{ end }}
		{{ $scss := resources.Get "scss/style.scss" }}
		{{ $style := $scss | resources.ToCSS | resources.Minify }}
		<link rel="stylesheet" href="{{ $style.Permalink }}">
		{{ $css := resources.Get "css/flickity.css" }}
		{{ $styleflickity := $css | resources.Minify }}
		<link rel="stylesheet" href="{{ $styleflickity.Permalink }}">
		{{ with .OutputFormats.Get "RSS" -}}
			{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
		{{- end }}
		

		<link rel="icon" type="image/png" href="/TwintailsIndustries-Favicon.png">
	</head>
	{{if eq .Section "saladdork"}}
	<body class="saladdork-body">
		{{ block "main" . }}{{ end }}
		<script src="{{ .Site.BaseURL }}/js/script.js"></script>
	</body>
	{{else}}
	<body class="body">
		<div class="body-container">
			{{ partial "header" . }}
			{{ block "main" . }}{{ end }}
			{{ partial "footer" . }}
		</div>
		<script src="{{ .Site.BaseURL }}/js/script.js"></script>
		<script src="{{ .Site.BaseURL }}/js/flickity.pkgd.min.js"></script>
		<script src="{{ .Site.BaseURL }}/js/fullscreen.js"></script>
		
	</body>
	{{end}}
</html>
