{{define "main"}}
<main class="main section-list-wrapper">
    <header class="col-12 section-list-header">
        <h1 class="main-heading">{{ .Title}}</h1>
        <div class="kana-subheading">{{$.Param "subtitle"}}</div>
    </header>
    <article class="col-12 contact helper-textwidth ">
        <form class="form-style" name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true">
            <div class="hidden">
                <label class="form-title ">Don’t fill this out if you’re a real human: </label>
                <input  name="bot-field" />
            </div>
            <label class="form-title">Name | <span class="kana">名前</span></label>
            <input type="text" name="name" required />
            <label class="form-title">E-mail | <span class="kana">メール </span></label>
            <input type="email" name="email" required />
            <label class="form-title">Message | <span class="kana">メッセージ</span></label>
            <textarea name="message"></textarea>

            <button type="submit">Send</button>

        </form>
    </article>
</main>
{{end}}