{{define "main"}}
<main class="main section-list-wrapper">
    <header class="col-12 section-list-header">
        <h1 class="main-heading">{{ .Title}}</h1>
        <h2 class="kana-subheading">自己紹介</h2>
    </header>
    {{ $content_parts := split .Content "!split!" }}

    <section class="col-12 about-me">
        <div class="col-4 about-image">
            <p>Lorem ipsum.</p>
        </div>
       
        <div class="col-8 about-content">
            
        </div>
    </section>
    <section class="col-12 about-website">
        <div class="col-4 about-image">
            <p>Lorem ipsum.</p>
        </div>
        <div class="col-8 about-content">
            <article class="about-content-article">{{ index $content_parts 1| safe.HTML }}</article>
        </div>
        <div class="col-12 about-grid"></div>
    </section> 
</main>
{{end}}