<script src="{{ .Site.BaseURL }}/js/cookieconsent.js"></script>
<script>
window.addEventListener('load', function(){
  window.cookieconsent.initialise({
   revokeBtn: "<div class='cc-revoke'></div>",
   type: "opt-in",
   position: "bottom-right",
   theme: "classic",
   palette: {
       popup: {
           background: "#9d75e2",
           text: "#131418"
        },
       button: {
           background: "#5c40b8",
           text: "#ddb4ff"
        }
    },
   content: {
       link: "About consent",
       href: "/privacy/"
    },
    onInitialise: function(status) {
      if(status == cookieconsent.status.allow) myScripts();
    },
    onStatusChange: function(status) {
      if (this.hasConsented()) myScripts();
    }
  })
});

function myScripts() {

   // Paste here your scripts that use cookies requiring consent. See examples below

}
</script>