<footer>
	<div class="footer-bg"></div>
	<ul class="footer-navigation">
		<li class="footer-navigation-item">
			<a class="link-effect" href="/contact/">
				<span>Contact</span>
				<div class="link-effect-bg footer-link"></div>
				<div class="transition effect-violet"></div>
			</a>
		</li>
		<li class="footer-navigation-item">
			<a class="link-effect" href="/imprint/">
				<span>Imprint</span>
				<div class="link-effect-bg footer-link"></div>
				<div class="transition effect-violet"></div>
			</a>
		</li>
		<li class="footer-navigation-item">
			<a class="link-effect" href="/privacy/">
				<span>Privacy</span>
				<div class="link-effect-bg footer-link"></div>
				<div class="transition effect-violet"></div>
			</a>
		</li>
	</ul>
	<p class="footer-copyright">&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></p>
</footer>