<header>
	<nav class="main-navigation">
		<ul class="navigation-left-ul">
			<li class="navigation-list-item">Top</li>
			<li class="navigation-list-item">About</li>
			<li class="navigation-list-item">Propaganda</li>
		</ul>
		<img src="/img/TwintailsIndustries-Logo-2020-small.png">
		<ul class="navigation-right-ul">
			<li class="navigation-list-item">Story</li>
			<li class="navigation-list-item"><a href="/characters/">Characters</a></li>
			<li class="navigation-list-item">Archive</li>
		</ul>
	</nav>
	<!--<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
	{{ with .Site.Menus.main }}
	<nav>
		<ul>
			{{ range . }}
			<li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
			{{ end }}
		</ul>
	</nav>
	{{ end }}-->
</header>
