<header>
	<nav class="main-navigation">
		<div class="navigation-bg"></div>
		<ul class="navigation-left-ul">
			<li class="navigation-list-item"><a href="{{ .Site.BaseURL }}">Top</a></li>
			<li class="navigation-list-item"><a href="/about/">About</a></li>
			<li class="navigation-list-item"><a href="/propaganda/">Propaganda</a></li>
		</ul>
		<a href="{{ .Site.BaseURL }}"><img class="logo-desktop" src="/img/TwintailsIndustries-Logo-2020-small.png"></a>
		<ul class="navigation-right-ul">
			<li class="navigation-list-item">Story</li>
			<li class="navigation-list-item"><a href="/characters/">Characters</a></li>
			<li class="navigation-list-item">Archive</li>
		</ul>
	</nav>
	
	<nav class="main-navigation-mobile">
		
		<div id="menuToggle">
			<input type="checkbox" />
			
			<!-- Some spans to act as a hamburger. -->
			<span></span>
			<span></span>
			<span></span>

			<div class="navigation-mobile-wrapper">
				<ul class="navigation-ul-mobile">
					<li><img class="logo-mobile" src="/img/TwintailsIndustries-Logo-2020-small.png" alt="It's the logo of the website. It depicts the face of a woman wearing twintails, framed by a futuristic gear or cogwheel."></li>
					<li class="navigation-list-item"><a href="{{ .Site.BaseURL }}">Top</a></li>
					<li class="navigation-list-item"><a href="/about/">About</a></li>
					<li class="navigation-list-item"><a href="/propaganda/">Propaganda</a></li>
		
					<li class="navigation-list-item"><a href="#">Story</a></li>
					<li class="navigation-list-item"><a href="/characters/">Characters</a></li>
					<li class="navigation-list-item"><a href="#">Archive</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!--<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
	{{ with .Site.Menus.main }}
	<nav>
		<ul>
			{{ range . }}
			<li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
			{{ end }}
		</ul>
	</nav>
	{{ end }}-->
</header>
