{{ $counter := 0 }}
{{ with .Resources.ByType "image" }}
    {{if gt . 1 }}    
        {{ range . }}
            {{ $counter = add $counter 1 }}
            {{ $scaled := .Fill "600x600" }}
                <li>
                    <input type="radio" class="js-gallery-tab" id="tab-{{$counter}}" name="gallery-group" {{ if eq $counter 1 }} checked {{ end }} >
                    <label for="tab-{{$counter}}">
                        <div class="tab">
                            <img src="{{ $scaled.RelPermalink }}" alt='{{$.Param "subtitle"}}'>
                        </div>
                    </label>
                    <div class="gallery-content">
                        <img src="{{ .RelPermalink }}" alt='{{$.Param "subtitle"}}'>
                    </div>
                </li>
        {{ end }}
    {{ else }}
        {{ range . }}
            <li class="gallery-content is-visible">
                <img src="{{ .RelPermalink }}" alt='{{$.Param "subtitle"}}'>
            </li>
        {{ end }}
    {{ end }}
{{ end }}