{{ define "main" }}
	<main class="main no-margin-top">
		<article class="col-12 hero-content"></article>
		
		<article class="col-12 index-introduction helper-textwidth">
			<h1 class="main-heading">{{ .Title}}</h1>
			<div class="index-introduction-content">{{ .Content }}</div>
		</article> 

		<article class="col-12 latest-container">
			<section class="col-4 latest-propaganda">
				<header class="index-section-header">
					<h3 class="main-heading index-section-heading">Latest </h3>
				</header>
				<ul>
					{{ range first 5 (where site.RegularPages "Section" "propaganda") }}
						<li>
							<!--<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>-->
							{{ .Render "summary"}}
						</li>
					{{ end }}
				</ul>
			</section>

			<section class="col-4 latest-character">
				<header class="index-section-header">
					<h3 class="main-heading index-section-heading">Latest Character</h3>
					<h4 class="kana-subheading index-section-subheading">最新キャラクター</h4>
				</header>
				<ul>
					{{ range first 3 (where site.RegularPages "Section" "characters") }}
						<li>
							<!--<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>-->
							{{ .Render "summary"}}
						</li>
					{{ end }}
				</ul>
			</section>
			<section class="col-4 latest-archive">
				<header class="index-section-header">
					<h3 class="main-heading index-section-heading">Latest Chapter</h3>
					<h4 class="kana-subheading index-section-subheading">最新章</h4>
				</header>
			</section>
		</article>
	</main>

{{ end }}