{{ define "main" }}
	<main class="main no-margin-top">
		<article class="col-12 hero-content"></article>
		
		<article class="col-12 index-introduction helper-textwidth">
			<h1 class="main-heading">{{ .Title}}</h1>
			<div class="index-introduction-content">{{ .Content }}</div>
		</article> 

		<article class="col-12 latest-container">
			<section class="col-6 latest-propaganda">
				<header class="index-section-header">
					<h3 class="main-heading index-section-heading">Latest Creation</h3>
					<h4 class="kana-subheading index-section-subheading">最新創作活動</h4>
				</header>
				<ul class="index-list no-decoration">
					{{ range first 3 (where site.RegularPages "Section" "propaganda") }}
						<li class="index-list-item"> 
							<a class="index-link" href="{{ .Permalink }}">
								<h5 class="list-header">{{ .Title }}</h5>
								<h6 class="list-header-subtitle">{{.Params.subtitle}}</h5>
								{{ with .Resources.ByType "image" }}
									{{ range first 1 .}}
									<img class="image-background" src="{{ .RelPermalink }}">
									{{ end }}
								{{ end }}
								
								<!--{{ .Render "summary"}}--> 
							</a>
						</li>
					{{ end }}
				</ul>
			</section>

			<section class="col-6 latest-character">
				<header class="index-section-header">
					<h3 class="main-heading index-section-heading">Latest Character</h3>
					<h4 class="kana-subheading index-section-subheading">最新キャラクター</h4>
				</header>
				<ul class="index-list no-decoration">
					{{ range first 3 (where site.RegularPages "Section" "characters") }}
						<li class="index-list-item"> 
							<a class="index-link" href="{{ .Permalink }}">
								<h5 class="list-header">{{ .Title }}</h5>
								{{ with .Resources.Match "images/seal-char.png" }}
									{{ range . }}
									<img class="image-background" src="{{ .RelPermalink }}">
									{{ end }}
								{{ end }}
								
								<!--{{ .Render "summary"}}-->
							</a>
						</li>
					{{ end }}
				</ul>
			</section>
			<!--
			<section class="col-4 latest-archive">
				<header class="index-section-header">
					<h3 class="main-heading index-section-heading">Latest Chapter</h3>
					<h4 class="kana-subheading index-section-subheading">最新章</h4>
				</header>
			</section>
			-->
		</article>
	</main>

{{ end }}